@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
  --textColor: black;
  --oppositeTextColor: white;
  --cardBackground: linear-gradient(165.76deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.32) 100%);
  --boxShadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  --mobileNavBackdrop: rgba(0, 0, 0, 0.5);
}
* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: relative;
}

#root{
  height: 100vh;
  overflow-x: hidden;
}

.app{
  display: flex;
  white-space: nowrap;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
}

.full-page{
  z-index: 1;
  width: 100vw;
  height: 100vh;
  margin-bottom: 3em;
}
.background{
  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.video-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 5s ease;
}

/* mobile */
@media (max-width: 768px){
  .background{
    background-color: var(--oppositeTextColor);
  }
}