h1{
    color: #ffffff;
}
.container{
    margin: 2em;
    height: auto;
    overflow-y: hidden;
    opacity: 0;
    max-height: 0;
    transition: all 2s ease;
    transition-delay: 1.1s;
}
.project-card-flex-container {
    display: flex;
    overflow-x: auto;
    justify-content: left;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}