@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.heading {
    height: auto;
    width: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.heading h1 {
    color: #800000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

.background-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #14CCB0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-circle:hover .me {
    transform: scale(1.05);
}

.heading .me {
    height: 15em;
    position: absolute;
    top: -40px;
    left: 17px;
    transition: all 2s;
    pointer-events: none;
    transform-origin: center center;
    transform-box: fill-box;
}